.App {
  text-align: center;
  background-color: lavenderblush;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.table>:not(Caption)>*>*{
  background-color: lavenderblush;
  border-bottom: 0px;
  color:darkgray;
}

.App-header {
  background-color: #61dafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e6e6fa;
}


/* 
Jumbotron {
  color: #fff0f5;
  background-color: lavenderblush;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
